<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="entryOptions">
        <p>Enter the adjacency list :</p>
        <a href="/enterMatrix">Enter the matrix</a>
        <a href="/enterText">Enter in text</a>
        <!-- <a href="/CollegeMsg" style="color:black">Analyze CollegeMsg dataset</a> -->
    </div>
    
</body>
</html>